# Dependencies
node_modules/
backend/venv/
__pycache__/
*.pyc
.pytest_cache/

# Build outputs
dist/
out/

# Local config
config.json
*.wav
*.log

# IDE
.vscode/
.idea/
.DS_Store
build/
!build/installer.nsh

# Cache and Large files
models/
*.zip
*.bin
*.exe

*.bin
*.zip
models/

# Vocabularies
custom_vocabulary.json
standard_vocabulary.json
it_vocabulary.json
